.side-bar
  .side-bar__side-header
    .header-name
      = current_user.name
      %h3.user-name
      %ul.icon
        %li.list
          = link_to edit_user_path(current_user), class: "contents__btn" do
            = icon('fa', 'fas fa-cog')
        %li.list
          = link_to new_group_path(current_user), class: "contents__btn" do
            = icon('fa', 'fas fa-edit')
  .side-bar__groups
    - current_user.groups.each do |group|
      .group-list
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-text
            = group.show_last_message